body {
    background: linear-gradient(135deg, #EEFFFF,#ffffff);
    font-family: "メイリオ", sans-serif;
}

#tabs {
    display: flex;
    background: #00CCCC;
    color: white;
}

#tabs button {
    flex: 1;
    padding: 12px;
    border: none;
    background: #00CCCC;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#tabs button.active {
    background: #555;
}

.page {
    display: none;
    padding: 20px;
}

.page.active {
    display: block;
}

#character-container {
    position: relative;
    display: inline-block;
}

#balloon {
    display: none;
    position: absolute;
    top: -20px;
    left: 400%;
    background-color: #fffce6;
    border: 4px solid #554433;
    border-radius: 16px;
    box-shadow: 0 5px 0 #554433;
    padding: 15px 20px;
    font-size: 16px;
    width: 150px;
    white-space: normal;
    transform-origin: bottom left;
}

#balloon::after {
    content: "";
    position: absolute;
    top: 50px;
    left: -20px;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-bottom: 10px solid transparent;
    border-right: 20px solid #fffce6;
    border-top: 10px solid transparent;
}

#balloon::before {
    content: "";
    position: absolute;
    top: 50px;
    left: -25px;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-bottom: 12px solid transparent;
    border-right: 24px solid #554433;
    border-top: 12px solid transparent;
}

.pop {
    animation: pop 0.35s ease-out;
}

@keyframes pop {
    0% {transform: scale(0.3);
        opacity: 0;}

    60% {transform: scale(1.1);
        opacity: 1;}

    100% {transform: scale(1);
        opacity: 1;}
}

.game-btn {
    background: #fffce6;
    border: 4px solid #6b4100;
    border-radius: 12px;
    box-shadow: 0 5px 0 #6b4100;
    padding:  10px 20px;
    font-weight: bold;
    cursor: pointer;
    transform: 0.05s;
}
.game-btn:active {
    box-shadow: 0 1px 0 #6b4100;
    transform: translateY(3px);
}

.command-box {
    background:raga(0, 0, 0, 0.72);
    border: 4px solid #554433;
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: 140px;
}

.command-box button {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 6px;
}